.root {
	--bg-color: #19324a;
	--text-color: #fff;
	--text-muted: #aaaaaa;

	font-family: 'Inter', sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);

	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

.fade-in {
  opacity: 0; /* начальное значение непрозрачности */
  animation: fadeIn ease-in-out 1; /* добавляем анимацию fadeIn */
  animation-fill-mode: forwards; /* будет видимым после завершения анимации */
  animation-duration: 1.5s; /* длительность анимации в 1 секунду */
}

@keyframes fadeIn {
  0% {
		transform: scale(0.9);
    opacity: 0;
  }
  100% {
		transform: scale(1);
    opacity: 1;
  }
}