.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	display: block;
	min-height: 300px;
	object-fit: cover;
}

.swiper-button-disabled {
	border-radius: 50%;
	cursor: default;
}

.swiper-pagination-total {
	opacity: 0.6;
	font-weight: 800;
}
